---
layout: archive
title: "Talks and presentations"
permalink: /Presentations/
author_profile: true
---

---
layout: archive
title: "Presentations"
permalink: /presentations/
author_profile: true
---

<h2>2026</h2>

<p>
<strong>Prescribed Fire versus Wildfire Emissions in Western U.S. Forests: Differences in VOCs, Particulate Matter, and Combustion Efficiency</strong><br>
Oral Presentation and Poster<br>
SMART FIRES All Hands Meeting<br>
Missoula, Montana | September 23–24, 2026
</p>

<h2>2025</h2>

<p>
<strong>Fire-line Characterization of Prescribed Fire Emissions with Mobile Laboratory Observations</strong><br>
Poster Presentation<br>
2025 AGU Fall Meeting<br>
New Orleans, Louisiana | 2025
</p>

<p>
<strong>Characterization of emissions from prescribed fires in Western U.S. forests with a mobile laboratory measurement</strong><br>
Poster Presentation<br>
SMART FIRES All Hands Meeting<br>
Bozeman, Montana | September 8–9, 2025
</p>

<p>
<strong>Characterization of Emissions and Fireline Exposures From Prescribed Fires With a Mobile Laboratory Measurement</strong><br>
Oral Presentation<br>
Air Quality Measurement Methods and Technology<br>
Aurora, Colorado | April 23–25, 2025
</p>

<h2>2024</h2>

<p>
<strong>Assessing emissions and air quality impacts of prescribed fires</strong><br>
Oral Presentation<br>
5th Rocky Mountain Wildfire Smoke Symposium<br>
Missoula, Montana | October 17–18, 2024
</p>

<p>
<strong>Assessing emissions and air quality impacts of prescribed fires</strong><br>
Poster Presentation<br>
SMART FIRES All Hands Meeting<br>
Missoula, Montana | September 16–17, 2024
</p>

<p>
<strong>Wildfire emission and impacts in Missoula, Montana during 2021 wildfire season</strong><br>
Poster Presentation<br>
11th International GEOS-Chem Meeting (IGC11)<br>
St. Louis, Missouri | June 11–14, 2024
</p>

<h2>2023</h2>

<p>
<strong>A32B-06 Measuring New Volatile Chemical Product (VCP) Species by Proton-Transfer-Reaction Time-of-Flight Mass Spectrometry</strong><br>
Oral Presentation<br>
2023 AGU Fall Meeting<br>
San Francisco, California | December 11–15, 2023
</p>

<p>
<strong>Quantifying volatile organic compounds from volatile chemical products using proton transfer reaction mass spectrometry</strong><br>
Oral Presentation<br>
77th ACS Northwest Regional Meeting (NORM)<br>
Bozeman, Montana | June 28–30, 2023
</p>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
